<!doctype html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/ender.js"></script>
	<script type="text/javascript">
		// shim ender.js
		window._ = $; _.mixin = $.ender;
		// augment IE. for how long, mf?!
		if (typeof console == 'undefined') console = {log: alert};
		window.dump = function() {console.log('DUMP', arguments);};
		// load scripts
		$.script([
			'/socket.io/socket.io.js',
			'js/ws.js'
		], function() {
			// scripts loaded
			//console.log('APPLOADED');
			var caps = {
				ping: function(cb, text) {
					//console.log('P', this);
					$(this.lid).append('<li>' + (text || 'Server pings you, dude!') + '</li>');
				}
			};
			// establish websocket connection #1
			window.comm = window.comm1 = new Comm();
			comm.on('context', function(context) {
				this.expose({name: 'dvv aka Vladimir', lid: '#l1'});
				this.expose({bar: 'fake', baz: null, foo: function(callback){console.log('FOOO', arguments);typeof callback === 'function' && callback(1,2)}});
				this.expose(caps);
			});
			// establish websocket connection #2
			window.comm2 = new Comm(/* any other host and options you like! */);
			comm2.on('context', function(context) {
				this.expose({name: 'Vladimir aka dvv', lid: '#l2'});
				this.expose(caps);
			});
			// establish websocket connection #N
			window.comm3 = new Comm(/* any other host and options you like! */);
			comm3.on('context', function(context) {
				this.expose(_.extend({}, caps, {name: 'dronnikov@gmail.com', lid: '#l3'}));
			});
			// handle posting
			$('button').click(function(ev) {
				var input = $(this).previous();
				var id = input.attr('data-id');
				var text = input.attr('value');
				window['comm'+id].context.post(function() {
					console.log('POSTED!', arguments);
					input[0].value = '';
				}, text);
			});
		});
	</script>
</head>
<body>
Your message as dvv: <input data-id="1" type="text"/><button>Send</button><br/>
<ol id="l1"></ol>
Your message as Vladimir: <input data-id="2" type="text"/><button>Send</button><br/>
<ol id="l2"></ol>
Your message as dronnikov@gmail.com: <input data-id="3" type="text"/><button>Send</button><br/>
<ol id="l3"></ol>
</body>
</html>
